PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

DATABASE_URL="postgresql://scheduler:scheduler@localhost:5432/scheduler"
REDIS_HOST=localhost
REDIS_PORT=6379
ELASTICSEARCH_NODE=http://localhost:9200

JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=

WORKER_CONCURRENCY=5
MIN_DELAY_BETWEEN_EMAILS_MS=2000
MAX_EMAILS_PER_HOUR_PER_SENDER=50
MAX_EMAILS_PER_HOUR_GLOBAL=200
STALLED_SENDING_TIMEOUT_MS=30000

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587

SENDER_1_NAME=
SENDER_1_USER=
SENDER_1_PASS=

SENDER_2_NAME=
SENDER_2_USER=
SENDER_2_PASS=

SENDER_3_NAME=
SENDER_3_USER=
SENDER_3_PASS=
